.truck-container {
    /* background-color: red; */
    height: 50vh;
}

.truck {
    height: 20%;
    position: relative;
    transition: 0.8s;
    animation: move-right 10s linear infinite, move-up 1s ease-in-out infinite,
        rotate 2s linear infinite;
}

.truck:hover {
    transform: scale(1.3) rotate(6.284rad);
    /* transform: rotate(6.284rad); */
}

@keyframes move-right {
    from {
        left: -20%;
    }
    to {
        left: 100%;
    }
}

@keyframes move-up {
    0% {
        top: 50%;
    }
    50% {
        top: 30%;
    }
    100% {
        top: 50%;
    }
}

@keyframes rotate {
    0% {
        transform: rotateZ(0);
    }
    50% {
        transform: rotateZ(180deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}
